body{
	background-color: lightblue;
}

.head{
	background-color: darkblue;
	color: white;
	font-size: 40px;
	text-align: center;
	margin: auto;
	border: 1px solid white;
	width:  100%;
}

.small{
	height: 50px;
	width: 100%;
	background-color: darkblue;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

p{
	color: white;
	font-size: 18px;
}

.large{
	height: 300px;
}

#content{
	text-align: center;
	height: 2000px;
	position: static;
	display: block;
	clear: both;
}